{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'css/check.css' %}" rel="stylesheet" />
  <title>수정및 확인</title>
</head>

<body>
  <div id="contain">
    <div id="header">
      <img id="trash-img" src="/mungTeam/minwoo/images/mdi_trash-can.png" style="width: 40px; height: 40px" />
      <button id="reset"><b>수정</b></button>
    </div>

    <div id="white-box">
      <div id="id">id</div>
      <div id="date">2023년 XX월 XX일</div>
      <div id="line"></div>
      <div>
        <textarea id="content">오늘 무슨 일이 있었냐면...</textarea>
      </div>
    </div>

    <div id="comment-box">
      <p id="comentNum">댓글(2)</p>
      <div id="send-box">
        <input type="text" id="coment" placeholder="댓글을 입력해주세요" />
        <div id="btn-box">
          <img src="/mungTeam/minwoo/images/Send Button.png" id="send-btn" style="width: 25px; height: 25px" />
        </div>
      </div>
    </div>

    <div id="coment1">
      <img class="coment-img" src="/mungTeam/minwoo/images/Ellipse 3.png" style="width: 40px; height: 40px" />
      <p class="coment-name">미영</p>
      <div class="coment-write">왜 글을 쓰다마세요..</div>
    </div>
    <div id="coment2">
      <img class="coment-img" src="/mungTeam/minwoo/images/Ellipse 3.png" style="width: 40px; height: 40px" />
      <p class="coment-name">미영</p>
      <div class="coment-write">더 써주세요...</div>
    </div>
    <div id="green">
      <div id="green-section1">
        <span>
          <img id="cal" src="/mungTeam/minwoo/images/cal.png" style="width: 65px; height: 65px" />
        </span>
        <span>
          <img id="circle" src="/mungTeam/minwoo/images/circle.png" style="width: 60px; height: 60px" />
        </span>
        <span>
          <img id="book" src="/mungTeam/minwoo/images/book.png" style="width: 40px; height: 40px" />
        </span>
        <span>
          <img id="tong" src="/mungTeam/minwoo/images/static.png" style="width: 37px; height: 37px" />
        </span>
      </div>
      <div id="green-section2">
        <span id="home">
          <img src="/mungTeam/minwoo/images/home.png" style="width: 30px; height: 30px" />
        </span>
        <span id="setting">
          <img src="/mungTeam/minwoo/images/setting.png" style="width: 30px; height: 30px" />
        </span>
      </div>
    </div>
  </div>

  <script src="/mungTeam/minwoo/js/edit.js"></script>
  <script src="/mungTeam/minwoo/js/del.js"></script>
  <script src="/mungTeam/minwoo/js/check.js"></script>
</body>

</html>