{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  <title>main</title>
</head>

<body>
  <div id="container">
    <div class="date">
      <span id="year"></span>
      <span class="word">년</span>
      <span id="month"></span>
      <span class="word">월</span>
      <span id="day"></span>
      <span class="word">일</span>
    </div>
    <div>
      <a href="{% url 'posts:post_list' %}"> <!--리스트페이지 이동-->
        <div id="list-icon">리스트</div>
      </a>
      <a href="{% url 'posts:home' %}">
        <div id="tile">타일</div>
      </a>
    </div>
    <article id="content-list"></article>

    <div id="green">
      <div id="green-section1">
        <span>
          <img id="cal" src="static/images/cal.png" style="width: 65px; height: 65px" />
        </span>
        <!-- 작성창 -->
        <span id="write-form">
          <img id="circle" src="static/images/circle.png" style="width: 60px; height: 60px" />
          <a href="{% url 'posts:create' %}">
            <img id="book" src="static/images/book.png" style="width: 40px; height: 40px" />
          </a>
        </span>

        <span>
          <img id="tong" src="static/images/static.png" style="width: 37px; height: 37px" />
        </span>
      </div>
      <div id="green-section2">
        <span id="home">
          <img src="static/images/home.png" style="width: 30px; height: 30px" />
        </span>
        <a href="{% url 'accounts:login' %}">
          <div id="log-out">로그아웃</div>
        </a>
      </div>
    </div>
  </div>

  <!--<script src="/mungTeam/minwoo/js/main.js"></script>-->
  <!--<script src="/mungTeam/minwoo/js/wrtie.js"></script>-->
</body>

</html>