{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'css/write-list.css' %}" rel="stylesheet" />
  <title>작성하기forlist</title>
</head>

<body>
  <div id="contain">
    <div id="white">
      <div class="date">
        <span id="year"></span>
        <span class="word">년</span>
        <span id="month"></span>
        <span class="word">월</span>
        <span id="day"></span>
        <span class="word">일</span>
        <span id="dayOfWeek"></span>
        <span class="word">요일</span>
      </div>
      <div id="line"></div>
      <div id="photo">사진</div>
      <div>
        <textarea id="content" type="text" placeholder="오늘 무슨 일이 있었냐면..." autofocus></textarea>
      </div>
    </div>

    <div id="green">
      <div id="save">
        <img id="circle" src="/mungTeam/minwoo/images/circle.png" style="width: 60px; height: 60px" />
        <div id="text-save"><b>저장</b></div>
      </div>
      <div id="green-section2">
        <span>
          <img id="add-photo" src="/mungTeam/minwoo/images/ic_round-image.png" style="width: 40px; height: 40px" />
        </span>
        <span>
          <img id="setting" src="/mungTeam/minwoo/images/setting.png" style="width: 33px; height: 33px" />
        </span>
      </div>
    </div>
  </div>

  <script src="/mungTeam/minwoo/js/saveList.js"></script>
  <script src="/mungTeam/minwoo/js/clock.js"></script>
</body>

</html>