{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <title>회원가입</title>
</head>

<body>
  <form class="user" method="POST">
    {% csrf_token %}
    <div id="container">
      <div id="green-box">
        <p id="login-text">회원가입</p>
        <div>
          <p id="text-id">ID</p>
          <input type="text" id="input-id" name="username" />
        </div>
        <div>
          <p id="text-pw">PW</p>
          <input type="password" id="input-psw" name="password" />
        </div>
        <div>
          <button id="btn-save" type="submit"><b>등록</b></button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>