{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <title>로그인</title>
</head>

<body>
  <div id="container">
    <div id="green-box">
      <p id="login-text">로그인</p>
      <div id="login-form">
        <div>
          <p id="text-id">ID</p>
          <input id="input-id" type="text" />
        </div>
        <div>
          <p id="text-pw">PW</p>
          <input id="input-psw" type="password" />
        </div>
        <div>
          <button id="btn-join">회원&nbsp; 가입&nbsp; 하기</button>
        </div>
        <div><button id="btn-find">아이디/비밀번호&nbsp; 찾기</button></div>
      </div>
    </div>
  </div>

  <!--<script src="./static/js/login.js"></script>-->
</body>

</html>